.boutons {
    display: flex;
    justify-content: row;
    padding-left: 150px;
    padding-top: 30px;
    color: orange;
}

.Button1 {
    padding: 5px;
    background-color: orange;
    border-color: orange;
    border-radius: 5px;
    margin-right: 50px;
    color: white;
    cursor: pointer;
}

.Button2 {
    padding: 5px;
    background-color: orange;
    border-color: orange;
    color: white;
    border-radius: 5px;
    cursor: pointer;

}

.TableProjects {
    border-collapse: collapse;
    min-width: 1000px;
    width: auto;
    margin: 100px auto;

}

.ButtonProjectName {
    cursor: pointer;
    border: 3px black;
    border-radius: 2px;
    background-color: silver;

}

.ButtonProjectName:hover {
    cursor: pointer;
    border: 3px black;
    border-radius: 2px;
    background-color: orange;
    color: white;
}

thead tr {
    background-color: grey;
    color: black;
    text-align: left;
}